<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="imagesUrl" value="http://mattprog.com/apps/BasicShop/img/" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>cCubMeDnedQ+/ikaOuRkKlS5zNqpC3ZLG/agBzao8HLiBz46w2jcLbreCUJ1J2OwA/0mTFH/aSbRPMBjhY/XfogKJ/73abhsDXqT9DIRfItJz2psl1wcpOBliLJSNmJu24RvRnvAmfrEVpR7Jn+9VaKWIZ7HFfiBuwTQbu7KCwKoVVPQlYrvXHel07QleEyNa7amJ/CyLz2GtG4jJTSOXfiu2uFA5kCDDsq7VoNNa1IsfabZmoFl5uwix6YSEQWiNwXWUxLWT3WXc1hkOISxwHJrNQ5z7LhtSIBYb/5r4a+9/8mgjO4oJ0ET1vkhG8vTMcDUeS7HreGHOsXbxZ5+PA==</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>pPvKVpnRVD0d/tleLELi6EqRpek+wibx0D883R+meYmIh0eiRbUrEAOuF+FptybAAdivlSkDWKmXGJU4RCWNqcYElbJlClS3ne8Dvwi26QrfBlLF3wsWZyu6KsiQ6w3F6PydXvszDzq5uCLhowjxpWHLLn3OBQFYa0Pn69z73jtkt4DkZJpJ2hRc3JlDTNPmnpTcJ3dMZHS7VskaCJIzrQumXUYu4ECNl1X92c/V43AMuU6su3oYSZQ8YD7ueppJzTAL9Jbld8XAxNafwHNstUqGeheA+QhwWvRiM3gLLhEdbuGej+bzxMc5p8l9LgxnG5ZX11GlvdKDnG9LrpC+rVel/hxNMQm53qqKMbkDQP85JRJn159G6i9dVMxL0NqEffp7trv3Oa+x3/lW98faxmEV+wDancghR6ZDlvhKl1wY3/qaLLlbBD0+TUI6Io1qjuiXTnes8deEVzRRAs9HVpXrS8zaO1BAgZOeQSrcprZ0Uv+Si6qEbq9Kz0YBW59uga3ljxU17I5XkBoz1/dLLxPYPoYK59oxzKO3lyOITbw9Ek+hJSghFGECJ921JgZSKhpTCrcoQA0R+62AlJo6F5SN2yPZtDJQKfS6VlRl2eKJf5QRsHWlfBeBaj+2oEew</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>